<%- include('head') %>
<body>
    <style>
        .row{
            background-color: #FECECD;
            display: flex;
            flex-direction: row;
            height: 100px;
            justify-content: space-between;
        }        
        .vertical_center{
            position: relative;
            top: 30%;
            transform: translateY(-50%,-50%);
        }
        .vertical_center_bot{
            position: relative;
            top:20%;
            transform: translateY(-50%,-50%);
        }
        .social_hyperlink{
            text-decoration: none;
            color: black;
        }
        .signin_button{
            border: 0 transparent;
            width: 80px;
            margin-left:10px;
            background-color: #FECECD;
        }
        .signin_button:hover{
            background-color: #9edef3;
        }
    </style>
    <div class = "row">
        <div class="col-1">
            <a href = "/" style = "position: relative; top: 15%; margin-left:15px" >
                <img src = "/img/Logo.png" alt =  "logo" style= "width:120px;height: 70px; ">
            </a>
        </div>
        <div class="col-5 mt-2">
            <p class="text-muted" style = "font-size: 15px; width: 400px; margin-left: 20px">台湾留学で高校生の中国語学習をサポート</p>
        </div>
        <div class="col-4 vertical_center">
            <div style = "display: flex; flex-direction: row; position:relative; float:right">
                <div class="input-group rounded" style = " width: 250px;height: 40px; margin-left:10px"  >
                    <input type="search" class="form-control rounded-5 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" style = "width: 175px; height: 40px" />
                    <a class = "social_hyperlink" href = "/" style = " margin-left: 10px;top: -10px;"><iconify-icon icon="ant-design:search-outlined" width = 40px height = 45px ></iconify-icon></a>
                </div>
                <button class = "signin_button rounded-3" href = "/"><a href = "/signin" style = "text-decoration: none; color: black">Sign In</a></button>
            </div>
        </div>
        <div class="col-2 vertical_center">
            <a class = "social_hyperlink" href = "/">
                <iconify-icon icon="bi:line" width = 30px height = 30px></iconify-icon>
            </a>
            <a class = "social_hyperlink" href = "/" style = "margin-left: 10px">
                <iconify-icon icon="akar-icons:instagram-fill" width = 30px height = 30px></iconify-icon>
            </a>
            <a class = "social_hyperlink" href = "/" style = "margin-left: 10px">
                <iconify-icon icon="akar-icons:facebook-fill" width = 30px height = 30px></iconify-icon>
            </a>
            <a class = "social_hyperlink" href = "/" style = "margin-left:15px">
                <iconify-icon icon="ant-design:youtube-filled" width = 30px height = 30px></iconify-icon>
            <a>
        </div>
    </div>


</body>