<%- include('../head')%>
<body>
    <style>
        .navbar_bot{
            display: flex;
            justify-content: center;
            width: 1090px;
            height: 51px;
        }
        .row{
            display: flex;
            flex-direction: row;
        }
        .row_2{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .navbar_button{
            width: 210px;
            height: 50px;
        }
        .primary{
            background-color: #F2C4CD;
        }
        .secondary{
            background-color: #D9D9D9;
        }
    </style>
    <div class="navbar_bot">
        <div class="row">
            <button class = "navbar_button primary">
                <p>HOME</p>
            </button>
            <button class = "navbar_button secondary">
                <p>オンライン学習</p>
            </button>
            <button class = "navbar_button secondary">
                <p>先生のプロフィール</p>
            </button class = "navbar_button secondary">
            <button class = "navbar_button secondary">
                <p>QnA</p>
            </button>
            <button class = "navbar_button secondary">
                <p>私たちに関しては </p>
            </button>
        </div>
    </div>
</body>